* {
    margin: 0;
    padding: 0;
}
.header{
    width: 1000px;
    margin: 0 auto;
    background-color: #B4C7E7;
    display: flex;
    justify-content: space-evenly;
}
.header img {
    padding: 30px 30px;
}
.header div{
    padding: 40px 10px;
    border: 5px solid white;
    margin: 20px;
    margin-top: 0px;
    background-color: #5B9BD5;
}
.header h1{
    background-color: #ffff;
    color: green;
    padding: 5px 50px;
}
.intro{
    width: 1000px;
    margin: 0 auto;
    background-color: #B4C7E7;
}
.intro p:first-child{
    width: 876px;
    padding: 5px;
    margin: 0 auto;
    background-color: #F8CBAD;
    text-align: center;
    font-size: 32px;
}
.about-us  {
    width: 876px;
    padding: 5px;
    margin: 0 auto;
    border-top: 3px solid #ffff;
    background-color: #C5E0B4;
    /* text-align: center; */
    font-size: 11px;
}
.main-body{
    width: 1000px;
    margin: 0 auto;
    background-color: #B4C7E7;
    display: flex;
    justify-content: space-between;
    padding-top:10px;
}
.nav-links ul li {
    box-sizing: border-box;
    list-style: none;
    width: 100px;
    height: 130px;
    background-color: #FFE699;
    padding: 20px;
    padding-top: 30px;
    border-top: 4px solid #B4C7E7;
}
.nav-links a{
    text-decoration: none;
}
.nav-links {
    margin-left: 57px;
    display: flex;
    padding-right:15px;
    border-right:2px solid grey;
}
.heading {
    background-color: #ffff;
    margin-right: 58px;
    display: flex;
    font-size: 32px;
    width: 700px;
    margin-top: 10px;
}
.heading h1{
    padding-left: 100px;
}

.row{
    margin-top:5px;
    margin-right: 55px;
    display: flex;
    justify-content: space-between;

}
.section1-col{
    flex-basis: 32%;
    background: gray;
    border-radius: 10px;
    box-sizing: border-box;
}

.section1-col img{
    height: 150px;
    width: 220px;
    border-right: 2px solid black;
}

.section1-col:hover{
    box-shadow: 0 0 20px 0px rgb(4, 8, 248);
}
.feedback {
    background-color: #C5E0B4;
    width: 700px;
    margin-top: 30px;
    flex-basis: 50%;
    margin-bottom: 10px;
    border: 1px solid green;
}
.feedback p{
    background-color: green;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
}
.feedback-row{
    margin-top:5px;
    margin-right: 55px;
    display: flex;
    justify-content: space-around; 
}

.imp-links{
    background-color: #C5E0B4;
    width: 700px;
    margin-top: 30px;
    flex-basis: 50%;
    margin-bottom: 10px;
    border: 1px solid green;
}
.imp-links a,li{
    text-decoration: none;
    list-style: none;
    color: green;
    margin-left: 30px;
}
.imp-links a:hover{
    font-size: 12;
    background-color: green;
    color: #ffff;
    
}